Repository Layneliang24/cursor-alpha: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

vue-tsc:
  name: Vue TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

django-check:
  name: Django Check
  entry: bash -c 'cd backend && python manage.py check'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

api-contract-check:
  name: API Contract Validation
  entry: python scripts/api_contract_check.py --project-root . --fail-on-incompatible
  language: system
  pass_filenames: false

restore: 恢复被误删的示例文件
  backend/tests/test_flaky_examples.py
  frontend/src/views/admin/FeatureFlagsAdmin.vue
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

restore: 恢复所有被误删的重要系统文件
  .cz.json
  backend/apps/api/management/__init__.py
  backend/apps/api/management/commands/__init__.py
  backend/apps/api/management/commands/generate_openapi.py
  backend/feature_flags/__init__.py
  backend/feature_flags/admin.py
  backend/feature_flags/apps.py
  backend/feature_flags/migrations/0001_initial.py
  backend/feature_flags/migrations/__init__.py
  backend/feature_flags/models.py
  backend/feature_flags/serializers.py
  backend/feature_flags/services.py
  backend/feature_flags/signals.py
  backend/feature_flags/urls.py
  backend/feature_flags/views.py
  backend/pytest.ini
  frontend/.prettierignore
  frontend/src/api/featureFlags.js
  frontend/src/api/index.js
  frontend/src/components/FeatureFlag.vue
  frontend/src/services/featureFlags.js
  frontend/tsconfig.node.json
  tests/__init__.py
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

restore: 恢复后端工具脚本
  backend/check_data_analysis.py
  backend/check_sessions.py
Due: django-check, django-migrations-check, api-contract-check

feat(idiomatic_expressions_requirement): add test templates and code scaffolding for 需求 idiomatic_expressions_requirement
  automated_expressions_report.json
  backend/apps/english/views.py
  backend/apps/idiomatic_expressions_requirement/models.py
  backend/apps/idiomatic_expressions_requirement/serializers.py
  backend/apps/idiomatic_expressions_requirement/views.py
  backend/tests/integration/test_idiomatic_expressions_requirement_api.py
  backend/tests/test_idiomatic_expressions_requirement.py
  frontend/src/components/IdiomaticExpressionsRequirementComponent.vue
  frontend/src/services/idiomatic_expressions_requirementService.js
  issues/idiomatic_expressions_requirement.json
  tests/e2e/idiomatic_expressions_requirement.spec.js
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat: add test configuration and idiomatic expressions requirement
  automated_expressions_report.json
  backend/alpha/settings.py
  backend/alpha/test_settings.py
  backend/apps/english/migrations/0008_auto_20250817_1016.py
  backend/apps/english/migrations/0009_dailypracticestats_keyerrorstats_and_more.py
  backend/apps/idiomatic_expressions_requirement/migrations/0001_initial.py
  backend/apps/idiomatic_expressions_requirement/migrations/__init__.py
  backend/tests/test_idiomatic_expressions_requirement.py
  requirements/idiomatic_expressions_requirement.md
Due: django-check, django-migrations-check, api-contract-check

feat(idiomatic_expressions_requirement): add test templates and code scaffolding for 需求 idiomatic_expressions_requirement
  backend/tests/test_idiomatic_expressions_requirement.py
Due: django-check, django-migrations-check, api-contract-check

feat: fix test configurations and add Django test settings
  backend/tests/integration/test_idiomatic_expressions_requirement_api.py
  backend/tests/test_idiomatic_expressions_requirement.py
  playwright-report/index.html
  test-results/.last-run.json
  test-results/results.json
  test-results/results.xml
Due: django-check, django-migrations-check, api-contract-check

feat(idiomatic-expressions): 完成地道表达模块自动化实现
  backend/apps/english/urls.py
  playwright-report/index.html
  playwright.config.ts
  test-results/.last-run.json
  test-results/results.json
  test-results/results.xml
  tests/e2e/idiomatic_expressions_requirement.spec.js
Due: django-check, django-migrations-check, api-contract-check

feat(example_requirement): add AI generated artifacts
  backend/apps/example_requirement/__init__.py
  backend/apps/example_requirement/apps.py
  backend/apps/example_requirement/models.py
  backend/apps/example_requirement/serializers.py
  backend/apps/example_requirement/urls.py
  backend/apps/example_requirement/views.py
  backend/tests/integration/test_example_requirement_api.py
  e2e/tests/example_requirement.spec.js
  frontend/src/components/Example_RequirementComponent.vue
  frontend/src/services/example_requirementService.js
  frontend/tests/unit/example_requirement.test.js
  scripts/req_to_test_pipeline.py
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat: 优化AI增强流水线文件集成策略
  docs/req-to-test-pipeline.md
Due: none

cleanup: 清理AI增强流水线演示文件
  backend/apps/example_requirement/__init__.py
  backend/apps/example_requirement/apps.py
  backend/apps/example_requirement/models.py
  backend/apps/example_requirement/serializers.py
  backend/apps/example_requirement/urls.py
  backend/apps/example_requirement/views.py
  backend/tests/integration/test_example_requirement_api.py
  backend/tests/test_example_requirement.py
  e2e/tests/example_requirement.spec.js
  frontend/src/components/Example_RequirementComponent.vue
  frontend/src/services/example_requirementService.js
  frontend/tests/unit/example_requirement.test.js
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat: 实现AI生成测试和代码产物的轻量级扩展点预留
  ai_pipeline_report.md
  scripts/ai_interface.py
  scripts/req_to_test_pipeline.py
Due: api-contract-check

feat: 恢复后端特性开关模块并修复配置\n\n- 从历史提交中恢复 backend/feature_flags/ 目录下所有文件\n- 在 settings.py 中注册 feature_flags 应用\n- 在 urls.py 中添加特性开关路由配置\n- 修复 signals.py 中的 Action 引用错误\n- 验证特性开关 API 和数据库操作正常工作
  backend/alpha/settings.py
  backend/alpha/urls.py
  backend/feature_flags/signals.py
Due: django-check, django-migrations-check, api-contract-check

feat(idiomatic_expressions_enhancement): add test templates and code scaffolding for 需求 idiomatic_expressions_enhancement
  .github/ISSUE_TEMPLATE/idiomatic_expressions_enhancement_template.md
  backend/apps/example_requirement/models.py
  backend/apps/example_requirement/serializers.py
  backend/apps/example_requirement/views.py
  backend/apps/idiomatic_expressions_enhancement/models.py
  backend/apps/idiomatic_expressions_enhancement/serializers.py
  backend/apps/idiomatic_expressions_enhancement/views.py
  backend/tests/integration/test_example_requirement_api.py
  backend/tests/integration/test_idiomatic_expressions_enhancement_api.py
  backend/tests/test_example_requirement.py
  backend/tests/test_idiomatic_expressions_enhancement.py
  data/expressions/collection_stats.json
  data/expressions/free_dictionary_expressions.json
  data/expressions/merged_expressions.json
  data/expressions/urban_dictionary_expressions.json
  docs/FAQ.md
  docs/GUIDE.md
  docs/README.md
  docs/TODO.md
  docs/spec/requirements/README.md
  docs/spec/requirements/idiomatic_expressions_enhancement.md
  frontend/src/components/IdiomaticExpressionsEnhancementComponent.vue
  frontend/src/services/example_requirementService.js
  frontend/src/services/idiomatic_expressions_enhancementService.js
  frontend/tests/unit/example_requirement.test.js
  frontend/tests/unit/idiomatic_expressions_enhancement.test.js
  issues/idiomatic_expressions_enhancement.json
  scripts/expression_data_collector.py
  scripts/import_expressions_to_db.py
  tests/e2e/idiomatic_expressions_enhancement.spec.js
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat: 完善AI增强流水线系统
  .pipeline_hashes.json
  ai_pipeline_effectiveness_report.md
  ai_pipeline_status_report.md
  backend/apps/new_feature/models.py
  backend/apps/new_feature/serializers.py
  backend/apps/new_feature/views.py
  backend/models.py
  backend/tests/test_new_feature.py
  best_response_deepseek-ai_DeepSeek-V3.txt
  check_openai_account.py
  docs/AI_ENHANCED_PIPELINE_ANALYSIS.md
  docs/API_KEY_SOLUTIONS.md
  docs/LOCAL_AI_SETUP_GUIDE.md
  docs/OpenAI_Quota_Solutions.md
  fix_openai_quota.py
  frontend/components/ExpressionPractice.vue
  frontend/src/components/NewFeatureComponent.vue
  frontend/tests/unit/new_feature.test.js
  quick_solution.py
  scripts/ai_config.json
  scripts/demo_enhanced_pipeline.py
  scripts/enhanced_ai_config.json
  scripts/enhanced_ai_pipeline.py
  scripts/local_ai_pipeline.py
  test_api_providers.py
  test_deepseek_models.py
  test_openai_api.py
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat: 配置Task Master并成功测试GPT-5模型集成
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .env.example
  .gitignore
  .taskmaster/docs/prd.txt
  .taskmaster/reports/task-complexity-report_feature-test_task_master.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
Due: none

feat(taskmaster): 更新Task Master配置和地道表达任务
  .cursor/mcp.json
  .taskmaster/docs/idiomatic_expressions_prd.txt
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/task_001_feature-test_task_master.txt
  .taskmaster/tasks/task_002_feature-test_task_master.txt
  .taskmaster/tasks/task_003_feature-test_task_master.txt
  .taskmaster/tasks/task_004_feature-test_task_master.txt
  .taskmaster/tasks/task_005_feature-test_task_master.txt
  .taskmaster/tasks/task_006_feature-test_task_master.txt
  .taskmaster/tasks/tasks.json
Due: none

feat(taskmaster): 更新Task Master配置和地道表达任务
  .cursor/mcp.json
  .cursorrules
  .taskmaster/docs/idiomatic_expressions_prd.txt
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/task_001_feature-test_task_master.txt
  .taskmaster/tasks/task_002_feature-test_task_master.txt
  .taskmaster/tasks/task_003_feature-test_task_master.txt
  .taskmaster/tasks/task_004_feature-test_task_master.txt
  .taskmaster/tasks/task_005_feature-test_task_master.txt
  .taskmaster/tasks/task_006_feature-test_task_master.txt
  .taskmaster/tasks/tasks.json
Due: none

feat(taskmaster): 添加Task Master配置文件
  .taskmaster/config.json
Due: none

feat(idiomatic): 实现地道表达模块数据模型和测试
  backend/apps/english/migrations/0013_aiassistantconfig_expressionscenario_and_more.py
  backend/apps/english/models.py
  tests/unit/test_idiomatic_expressions.py
Due: django-check, django-migrations-check, api-contract-check

feat(quality): 数据处理与质量控制系统
  backend/apps/english/data_quality.py
  backend/apps/english/expression_crawler.py
  backend/apps/english/specialized_crawlers.py
  tests/unit/test_data_quality.py
  tests/unit/test_expression_crawler.py
  tests/unit/test_specialized_crawlers.py
Due: django-check, django-migrations-check, api-contract-check

feat(async): 异步任务与调度系统
  backend/apps/english/management/commands/crawl_expressions.py
  backend/apps/english/task_monitor.py
  backend/apps/english/tasks.py
  backend/celery_config.py
  tests/unit/test_async_tasks.py
  tests/unit/test_task_system.py
Due: django-check, django-migrations-check, api-contract-check

feat(storage): 数据存储与性能优化系统
  backend/apps/english/data_storage.py
  tests/unit/test_data_storage.py
  tests/unit/test_storage_core.py
Due: django-check, django-migrations-check, api-contract-check

Path conditions:
  eslint: any of: ^frontend/.*\.(vue|js|ts)$
  prettier: any of: ^frontend/.*\.(vue|js|ts|json|css|scss|html)$
  vue-tsc: any of: ^frontend/.*\.(vue|ts)$
  django-check: any of: ^backend/.*\.py$
  django-migrations-check: any of: ^backend/.*\.py$
  api-contract-check: any of: \.py$
