Repository Layneliang24/cursor-alpha: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

vue-tsc:
  name: Vue TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

django-check:
  name: Django Check
  entry: bash -c 'cd backend && python manage.py check'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

api-contract-check:
  name: API Contract Validation
  entry: python scripts/api_contract_check.py --project-root . --fail-on-incompatible
  language: system
  pass_filenames: false

feat(storage): 数据存储与性能优化系统
  backend/apps/english/data_storage.py
  tests/unit/test_data_storage.py
  tests/unit/test_storage_core.py
Due: django-check, django-migrations-check, api-contract-check

feat(api): 完成DRF API基础开发
  backend/apps/api/english_serializers.py
  backend/apps/api/english_views.py
  backend/apps/api/urls.py
  backend/apps/english/migrations/0014_alter_expressionscenariolink_expression.py
  backend/apps/english/migrations/0015_alter_expression_usage_examples.py
  backend/apps/english/models.py
Due: django-check, django-migrations-check, api-contract-check

feat(api): 实现统计与AI助教ViewSet
  backend/apps/api/english_views.py
  backend/apps/api/urls.py
  tests/unit/test_english_api.py
Due: django-check, django-migrations-check, api-contract-check

feat(api): 序列化器优化与批量操作
  .cursorrules
  .taskmaster/reports/task-complexity-report_feature-test_task_master.json
  .taskmaster/tasks/tasks.json
  backend/apps/api/english_serializers.py
  backend/apps/api/english_views.py
  tests/unit/test_english_api.py
Due: django-check, django-migrations-check, api-contract-check

feat(api): 序列化器优化与批量操作
  .taskmaster/reports/task-complexity-report_feature-test_task_master.json
  .taskmaster/tasks/tasks.json
  backend/apps/api/english_serializers.py
  backend/apps/api/english_views.py
  tests/unit/test_english_api.py
Due: django-check, django-migrations-check, api-contract-check

feat(security): 认证权限与安全控制完整实现
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/api/english_views.py
  backend/apps/api/urls.py
  backend/apps/english/api_management.py
  backend/apps/english/management/commands/setup_english_security.py
  backend/apps/english/middleware.py
  backend/apps/english/permissions.py
  backend/apps/english/security.py
  tests/unit/test_english_security.py
Due: django-check, django-migrations-check, api-contract-check

feat(docs): API文档与缓存策略完整实现
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/alpha/urls.py
  backend/apps/api/english_views.py
  backend/apps/api/schema_hooks.py
  backend/apps/english/cache_strategy.py
  backend/apps/english/management/commands/manage_cache.py
  backend/requirements.txt
  tests/unit/test_api_docs_cache.py
Due: django-check, django-migrations-check, api-contract-check

feat(frontend): 完成前端界面与组件开发(任务4)
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/api/cache_middleware.py
  backend/apps/api/cache_strategy.py
  backend/apps/api/cache_views.py
  backend/apps/api/english_views.py
  backend/apps/api/schema_hooks.py
  backend/apps/api/urls.py
  backend/tests/integration/test_api_cache_performance.py
  backend/tests/unit/test_cache_strategy.py
  frontend/src/api/english.js
  frontend/src/components/idiomatic-expressions/AIAssistantChat.vue
  frontend/src/components/idiomatic-expressions/ExpressionCard.vue
  frontend/src/components/idiomatic-expressions/LearningDashboard.vue
  frontend/src/components/idiomatic-expressions/ScenarioPlayer.vue
  frontend/src/router/index.js
  frontend/src/stores/modules/expressionStore.ts
  frontend/src/stores/modules/learningStore.ts
  frontend/src/views/idiomatic-expressions/ExpressionLearning.vue
  frontend/vite.config.js
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

fix(ai): 修复APIKeyManager缓存访问错误
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/ai/services/key_manager.py
Due: django-check, django-migrations-check, api-contract-check

feat(navigation): 添加地道表达学习页面导航入口
  frontend/src/components/TopNavBar.vue
Due: eslint, prettier, vue-tsc

feat(methodology): 建立完整的开发方法论固化机制
  .cursorrules
  .taskmaster/templates/new-developer-training-prd.txt
  ONBOARDING_CHECKLIST.md
  docs/METHODOLOGY_ONBOARDING.md
  scripts/check-development-compliance.sh
  scripts/setup-dev-environment.sh
  scripts/validate-methodology.sh
Due: none

feat(methodology): 建立完整的开发方法论固化机制
  .taskmaster/templates/new-developer-training-prd.txt
  ONBOARDING_CHECKLIST.md
  docs/METHODOLOGY_ONBOARDING.md
  scripts/check-development-compliance.sh
  scripts/setup-dev-environment.sh
  scripts/validate-methodology.sh
Due: none

docs(cursorrules): 在核心规则中添加固定方法论快速参考
  .cursorrules
Due: none

feat(ai): 添加chenmoai AI助教适配器支持
  backend/alpha/settings.py
  backend/apps/ai/adapters/base.py
  backend/apps/ai/adapters/chenmoai_adapter.py
  backend/apps/ai/adapters/factory.py
  backend/apps/ai/management/__init__.py
  backend/apps/ai/management/commands/__init__.py
  backend/apps/ai/management/commands/setup_ai_tutor.py
  backend/apps/ai/services/key_manager.py
  backend/requirements.txt
Due: django-check, django-migrations-check, api-contract-check

feat(ai): 添加OpenRouter AI助教适配器支持
  backend/apps/ai/adapters/base.py
  backend/apps/ai/adapters/factory.py
  backend/apps/ai/adapters/openrouter_adapter.py
  backend/apps/ai/management/commands/setup_ai_tutor.py
  backend/apps/ai/services/key_manager.py
Due: django-check, django-migrations-check, api-contract-check

feat(frontend): 完成AI配置管理主界面
  .taskmaster/tasks/tasks.json
  frontend/src/api/aiConfig.js
  frontend/src/components/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/english/AIConfig.vue
Due: eslint, prettier, vue-tsc

feat(backend): 完成提供商管理API
  .cursorrules
  .taskmaster/tasks/tasks.json
  backend/apps/ai/tests/test_api_views.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
Due: django-check, django-migrations-check, api-contract-check

feat(backend): 完成提供商管理API
  .taskmaster/tasks/tasks.json
  backend/apps/ai/tests/test_api_views.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
Due: django-check, django-migrations-check, api-contract-check

fix(backend): 解决两个烦人的问题
  backend/alpha/settings_test.py
  backend/apps/ai/services/key_manager.py
  backend/apps/english/test_api.py
  backend/run_tests.py
  backend/scripts/setup_test_db.py
  backend/test_api_simple.py
  backend/test_api_with_auth.py
Due: django-check, django-migrations-check, api-contract-check

fix(backend): 部分解决测试数据库表冲突问题
  backend/alpha/settings_test.py
  backend/apps/english/migrations/0008_auto_20250817_1016.py
  backend/apps/english/migrations/0009_dailypracticestats_keyerrorstats_and_more.py
  backend/apps/english/migrations/0017_dictionary_and_more.py
Due: django-check, django-migrations-check, api-contract-check

Path conditions:
  eslint: any of: ^frontend/.*\.(vue|js|ts)$
  prettier: any of: ^frontend/.*\.(vue|js|ts|json|css|scss|html)$
  vue-tsc: any of: ^frontend/.*\.(vue|ts)$
  django-check: any of: ^backend/.*\.py$
  django-migrations-check: any of: ^backend/.*\.py$
  api-contract-check: any of: \.py$
