Repository Layneliang24/cursor-alpha: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # Python代码格式化和检查
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=127]
        exclude: ^(migrations/|venv/|.venv/)

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile, black, --line-length=127]
        exclude: ^(migrations/|venv/|.venv/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=127, --exclude=migrations]
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order
          - flake8-bugbear

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - django-stubs
          - types-requests
          - types-PyYAML
        exclude: ^(migrations/|tests/|venv/|.venv/)
        args: [--ignore-missing-imports]

  # 通用代码检查
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/|.*\.md$)
      - id: end-of-file-fixer
        exclude: ^(frontend/|.*\.md$)
      - id: check-yaml
        exclude: ^(frontend/)
      - id: check-json
        exclude: ^(frontend/)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        exclude: ^(frontend/)
      - id: check-docstring-first
        exclude: ^(migrations/|tests/|frontend/)

  # Python安全检查
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, backend/]
        exclude: ^(tests/|migrations/)

  # 前端代码检查
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint:check'
        language: system
        files: ^frontend/.*\.(vue|js|ts)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        files: ^frontend/.*\.(vue|js|ts|json|css|scss|html)$
        pass_filenames: false

      - id: vue-tsc
        name: Vue TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(vue|ts)$
        pass_filenames: false

  # 提交信息检查
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Django特定检查
  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: bash -c 'cd backend && python manage.py check'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && python manage.py makemigrations --check --dry-run'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: api-contract-check
        name: API Contract Validation
        entry: python scripts/api_contract_check.py --project-root . --fail-on-incompatible
        language: system
        pass_filenames: false
        files: \.py$

# 全局配置
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

# CI配置
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

� 完全解决测试数据库烦人问题！
  backend/apps/english/migrations/0009_dailypracticestats_keyerrorstats_and_more.py
  backend/apps/english/migrations/0017_dictionary_and_more.py
Due: django-check, django-migrations-check, api-contract-check

feat(frontend): 完成任务6-开发提供商管理UI
  .taskmaster/tasks/tasks.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/ProviderForm.vue
  frontend/src/components/ai-config/ProviderList.vue
  frontend/src/stores/modules/aiConfigStore.js
  frontend/src/views/english/AIConfig.vue
  frontend/src/views/english/AIConfigOld.vue
Due: eslint, prettier, vue-tsc

feat(rbac): 完成任务20-实现权限控制系统
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/ai/views.py
  backend/apps/rbac/__init__.py
  backend/apps/rbac/apps.py
  backend/apps/rbac/management/__init__.py
  backend/apps/rbac/management/commands/__init__.py
  backend/apps/rbac/management/commands/init_rbac.py
  backend/apps/rbac/migrations/0001_initial.py
  backend/apps/rbac/migrations/__init__.py
  backend/apps/rbac/models.py
  backend/apps/rbac/permissions.py
  backend/apps/rbac/services.py
  backend/apps/rbac/signals.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PermissionWrapper.vue
  frontend/src/components/ai-config/ProviderList.vue
  frontend/src/composables/usePermissions.js
  frontend/src/directives/permission.js
  frontend/src/main.js
  frontend/src/stores/modules/userStore.js
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

feat(security): 完成任务24安全加固 - 全面实施XSS防护、SQL注入防护、HTTPS配置和API密钥安全
  .taskmaster/config.json
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/alpha/settings_production_ssl.py
  backend/apps/ai/serializers.py
  backend/apps/ai/tests/test_security.py
  backend/apps/ai/views.py
  backend/apps/common/management/__init__.py
  backend/apps/common/management/commands/__init__.py
  backend/apps/common/management/commands/ssl_manager.py
  backend/apps/common/ratelimit.py
  backend/apps/common/security.py
  backend/apps/common/ssl_config.py
  backend/apps/english/data_storage.py
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ai-config/ProviderForm.vue
  frontend/src/components/common/SafeHTML.vue
  frontend/src/components/common/SecureInput.vue
  frontend/src/utils/security.ts
  frontend/tests/unit/components/SafeHTML.test.ts
  frontend/tests/unit/components/SecureInput.test.ts
  frontend/tests/unit/security.test.ts
  frontend/vite.config.js
  nginx_alpha_ssl.conf
  scripts/setup-ssl.sh
Due: eslint, prettier, vue-tsc, django-check, django-migrations-check, api-contract-check

fix: 修复Django Debug Toolbar在测试环境中的错误
  .cursorrules
  .taskmaster/config.json
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/ai/management/commands/sync_ai_models.py
  backend/apps/ai/migrations/0004_add_monitoring_models.py
  backend/apps/ai/models.py
  backend/apps/ai/monitoring_models.py
  backend/apps/ai/services/model_discovery.py
  backend/apps/ai/services/model_discovery_sync.py
  backend/apps/ai/services/monitoring_service.py
  backend/apps/ai/services/token_statistics.py
  backend/apps/ai/tasks.py
  backend/apps/ai/tests/test_model_discovery.py
  backend/apps/ai/tests/test_monitoring.py
  backend/apps/ai/tests/test_token_statistics.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
Due: django-check, django-migrations-check, api-contract-check

fix: 修复Django Debug Toolbar在测试环境中的错误
  .taskmaster/config.json
  .taskmaster/tasks/tasks.json
  backend/alpha/settings.py
  backend/apps/ai/management/commands/sync_ai_models.py
  backend/apps/ai/migrations/0004_add_monitoring_models.py
  backend/apps/ai/models.py
  backend/apps/ai/monitoring_models.py
  backend/apps/ai/services/model_discovery.py
  backend/apps/ai/services/model_discovery_sync.py
  backend/apps/ai/services/monitoring_service.py
  backend/apps/ai/services/token_statistics.py
  backend/apps/ai/tasks.py
  backend/apps/ai/tests/test_model_discovery.py
  backend/apps/ai/tests/test_monitoring.py
  backend/apps/ai/tests/test_token_statistics.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
Due: django-check, django-migrations-check, api-contract-check

feat: 完成Task 8 - 开发模型选择UI
  .taskmaster/tasks/tasks.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/ModelBrowser.vue
  frontend/src/components/ai-config/ModelCard.vue
  frontend/src/components/ai-config/ModelComparison.vue
  frontend/src/components/ai-config/ModelDetails.vue
  frontend/src/components/ai-config/SearchFilter.vue
  frontend/src/components/ai-config/charts/PerformanceRadarChart.vue
  frontend/src/components/ai-config/charts/PriceComparisonChart.vue
  frontend/src/components/ai-config/charts/ResponseTimeChart.vue
  frontend/src/components/ai-config/charts/TokenLimitChart.vue
  frontend/src/stores/modules/aiConfigStore.js
  frontend/src/stores/modules/favoriteStore.js
Due: eslint, prettier, vue-tsc

feat(ai): 实现Task 9模型参数配置功能
  .cursorrules
  .taskmaster/tasks/tasks.json
  backend/apps/ai/config_models.py
  backend/apps/ai/management/commands/init_prompt_templates.py
  backend/apps/ai/migrations/0005_add_prompt_template_and_update_model_config.py
  backend/apps/ai/models.py
  backend/apps/ai/serializers.py
  backend/apps/ai/tests/test_model_config.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
  backend/requirements.txt
Due: django-check, django-migrations-check, api-contract-check

feat(ai): 实现Task 9模型参数配置功能
  .taskmaster/tasks/tasks.json
  backend/apps/ai/config_models.py
  backend/apps/ai/management/commands/init_prompt_templates.py
  backend/apps/ai/migrations/0005_add_prompt_template_and_update_model_config.py
  backend/apps/ai/models.py
  backend/apps/ai/serializers.py
  backend/apps/ai/tests/test_model_config.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
  backend/requirements.txt
Due: django-check, django-migrations-check, api-contract-check

feat(frontend): 实现Task 9.2前端ModelConfigForm组件
  .taskmaster/tasks/tasks.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/ModelConfigForm.vue
  frontend/src/components/ai-config/PromptTemplateDialog.vue
  frontend/src/stores/modules/aiConfigStore.js
  frontend/src/views/english/AIConfig.vue
Due: eslint, prettier, vue-tsc

feat(frontend): 实现Task 9.2前端ModelConfigForm组件
  .cursorrules
  .taskmaster/tasks/tasks.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/ModelConfigForm.vue
  frontend/src/components/ai-config/PromptTemplateDialog.vue
  frontend/src/stores/modules/aiConfigStore.js
  frontend/src/views/english/AIConfig.vue
Due: eslint, prettier, vue-tsc

feat: � Task 9完整完成 - 实现模型参数配置功能
  .taskmaster/tasks/tasks.json
Due: none

feat: ✅ Task 11.1完成 - 监控仪表板基础框架搭建
  .taskmaster/tasks/tasks.json
  frontend/src/api/monitoring.js
  frontend/src/components/monitoring/AlarmTable.vue
  frontend/src/components/monitoring/MetricsChart.vue
  frontend/src/components/monitoring/ServiceStatusPanel.vue
  frontend/src/composables/useWebSocket.js
  frontend/src/router/index.js
  frontend/src/stores/modules/monitoringStore.js
  frontend/src/views/english/MonitoringDashboard.vue
Due: eslint, prettier, vue-tsc

feat: � Task 11完整完成 - 监控仪表板UI开发
  .taskmaster/tasks/tasks.json
Due: none

feat: ✅ Task 12.1完成 - 故障转移策略CRUD API
  .taskmaster/tasks/tasks.json
  backend/apps/ai/config_models.py
  backend/apps/ai/migrations/0006_add_fallback_audit_log.py
  backend/apps/ai/models.py
  backend/apps/ai/serializers/fallback_serializers.py
  backend/apps/ai/services/failover_service.py
  backend/apps/ai/services/health_check_service.py
  backend/apps/ai/urls.py
  backend/apps/ai/views/__init__.py
  backend/apps/ai/views/fallback_views.py
Due: django-check, django-migrations-check, api-contract-check

feat: ✅ Task 12.1完成 - 故障转移策略CRUD API
  .cursorrules
  .taskmaster/tasks/tasks.json
  backend/apps/ai/config_models.py
  backend/apps/ai/migrations/0006_add_fallback_audit_log.py
  backend/apps/ai/models.py
  backend/apps/ai/serializers/fallback_serializers.py
  backend/apps/ai/services/failover_service.py
  backend/apps/ai/services/health_check_service.py
  backend/apps/ai/urls.py
  backend/apps/ai/views/__init__.py
  backend/apps/ai/views/fallback_views.py
Due: django-check, django-migrations-check, api-contract-check

fix: � 修复故障转移API导入问题
  backend/apps/ai/fallback_serializers.py
  backend/apps/ai/fallback_views.py
  backend/apps/ai/urls.py
  backend/apps/ai/views/__init__.py
Due: django-check, django-migrations-check, api-contract-check

增加figma MCP工具接入待办
  .cursorrules
Due: none

修改cursorrule待办项目
  .cursorrules
Due: none

feat(ai): 完成自动降级与恢复检测逻辑实现
  .taskmaster/tasks/tasks.json
  backend/apps/ai/config_models.py
  backend/apps/ai/migrations/0007_providerhealthstatus_and_more.py
  backend/apps/ai/models.py
  backend/apps/ai/services/failover_service.py
  backend/apps/ai/tasks.py
  backend/apps/ai/tests/test_failover_auto_switch.py
Due: django-check, django-migrations-check, api-contract-check

feat(ai): 完成手动切换端点与权限审计功能实现
  .taskmaster/tasks/tasks.json
  backend/apps/ai/fallback_views.py
  backend/apps/ai/services/failover_service.py
  backend/apps/ai/tests/test_manual_switch.py
Due: django-check, django-migrations-check, api-contract-check

feat(frontend): 完成故障转移配置UI开发
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/FallbackConfig.vue
  frontend/src/components/ai-config/ModelWhitelistDialog.vue
  frontend/src/components/ai-config/__tests__/FallbackConfig.test.js
  frontend/src/router/index.js
  frontend/src/utils/dateUtils.js
Due: eslint, prettier, vue-tsc

feat(frontend): 完成统计分析UI开发
  .taskmaster/tasks/tasks.json
  frontend/src/api/aiConfig.js
  frontend/src/components/ai-config/StatisticsView.vue
  frontend/src/components/ai-config/__tests__/StatisticsView.test.js
  frontend/src/router/index.js
Due: eslint, prettier, vue-tsc

feat: 重新创建项目规则文件 - 移除所有敏感信息
  .cursorrules
Due: none

fix: 修复AI服务测试套件中的所有错误
  backend/apps/ai/serializers.py
  backend/apps/ai/tests/__init__.py
  backend/apps/ai/tests/test_api_views.py
  backend/apps/ai/tests/test_model_discovery.py
  backend/apps/ai/tests/test_security.py
  backend/apps/ai/tests/test_token_statistics.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
  backend/apps/common/ratelimit.py
  backend/apps/common/ssl_config.py
  backend/apps/english/test_api.py
  backend/apps/rbac/services.py
Due: django-check, django-migrations-check, api-contract-check

feat: 完成测试文件结构分析任务26的前3个子任务
  .taskmaster/docs/TEST_SYSTEM_REBUILD_PRD.md
  .taskmaster/tasks/task_026_ai-config-ui.txt
  .taskmaster/tasks/task_027_ai-config-ui.txt
  .taskmaster/tasks/task_028_ai-config-ui.txt
  .taskmaster/tasks/task_029_ai-config-ui.txt
  .taskmaster/tasks/task_030_ai-config-ui.txt
  .taskmaster/tasks/task_031_ai-config-ui.txt
  .taskmaster/tasks/task_032_ai-config-ui.txt
  .taskmaster/tasks/task_033_ai-config-ui.txt
  .taskmaster/tasks/task_034_ai-config-ui.txt
  .taskmaster/tasks/task_035_ai-config-ui.txt
  analyze_framework_types.py
  analyze_test_structure_fixed.py
  framework_analysis_report.json
  generate_tree_visualization.py
  test_structure_report.json
  test_structure_tree.html
  test_structure_tree.md
  test_structure_tree.txt
Due: api-contract-check

docs: 添加测试系统重建完成总结文档
  TEST_SYSTEM_REBUILD_COMPLETION_SUMMARY.md
Due: none

feat(test): 完成测试系统重建阶段3 - API接口单元测试
  .taskmaster/docs/super_reliable_test_system_rebuild.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  Makefile
  backend/.coverage
  backend/.coveragerc
  backend/apps/ai/adapters/factory.py
  backend/apps/ai/fallback_serializers.py
  backend/apps/ai/fallback_views.py
  backend/apps/ai/serializers.py
  backend/apps/ai/tests/test_api_views.py
  backend/apps/ai/tests/test_config_import_export.py
  backend/apps/ai/tests/test_manual_switch.py
  backend/apps/ai/tests/test_model_config.py
  backend/apps/ai/urls.py
  backend/apps/ai/views.py
  backend/apps/api/apps.py
  backend/apps/english/services/data_analysis_service.py
  backend/conftest.py
  backend/pytest.ini
  backend/requirements.txt
  backend/test_settings.py
  backend/tests/test_environment.py
  backend/tests/unit/test_ai_adapters.py
  backend/tests/unit/test_ai_config_models.py
  backend/tests/unit/test_ai_models_simple.py
  backend/tests/unit/test_ai_serializers.py
  backend/tests/unit/test_ai_serializers_simple.py
  backend/tests/unit/test_ai_views.py
  backend/tests/unit/test_basic_models.py
  backend/tests/unit/test_cache_strategy.py
  backend/tests/unit/test_core_functionality.py
  backend/tests/unit/test_english_models.py
  backend/tests/unit/test_simple.py
  backend/tests/unit/test_user_models.py
  package.json
  test_runner.py
  tests/setup.ts
  vitest.config.ts
Due: django-check, django-migrations-check, api-contract-check

docs: 添加任务5完成总结文档
  TASK_5_COMPLETION_SUMMARY.md
Due: none
